@charset "UTF-8";

/* background-image: linear-gradient(to bottom, #231942, #5e548e, #9f86c0,#cfbaf0) */

@media screen and (min-width: 768px) and (max-width:992px) {

    body {
        background-image: radial-gradient(circle at 100%, #1a1231, #5e548e, #9f86c0, #be95c4, #f1dfe9)
    }

    #login {
        width: 90vw;
        height: 450px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
        height: 100%;
        padding: 40px;
    }

    #formulario > h1 {
        font-size: 1.8em;
    }

    section > #formulario > p {
        font-size: 1.1em;
        margin-bottom: 45px;
    }

    #ilogin {
        width: 93%;
        height: 2.5em;
        border-radius: 5px;
        border-width: 0.1em;
        padding: 5px;
    }
    
    #isenha {
        width: 93%;
        height: 2.5em;
        border-radius: 5px;
        border-width: 0.1em;
        margin-bottom: 25px;
        padding: 5px;
    }

}

@media screen and (min-width: 992px) {

    body {
        background-image: radial-gradient(circle at 100%, #1a1231, #5e548e, #9f86c0, #be95c4, #f1dfe9)
    }

    section#login {
        width: 900px;
    }
    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
        padding: 30px;
        height: 500px;
    }

    #formulario > h1 {
        font-size: 2.3em;
        padding: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    section > #formulario > p {
        font-size: 1.1em;
        margin-bottom: 45px;
    }

    #ilogin {
        width: 92%;
        height: 2.5em;
        border-radius: 5px;
        border-width: 0.1em;
        padding: 5px;
    }

    #isenha {
        width: 92%;
        height: 2.5em;
        border-radius: 5px;
        border-width: 0.1em;
        padding: 5px;
        margin-bottom: 25px;
    }

}